<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .data {
            display: flex;
            margin: 0 0 0 1rem;
        }

        #data-name {
            border: 2px solid black;
            width: 15rem;

        }

        #data-lat {
            border: 2px solid black;
            width: 15rem;
            margin: .5rem 0 0 1rem;
        }

        #data-long {
            border: 2px solid black;
            width: 15rem;
            margin: .5rem 0 0 1rem;
        }
    </style>
</head>

<body>
    <button><a href="/map">Click</a></button>
    <%for(let data of datas){%>
        <div class="data">
            <div id="data-name">
                <h2>
                    <%=data.name%>
                </h2>
            </div>
            <div id="data-lat">
                <h2>
                    <%=data.Latitude%>
                </h2>
            </div>
            <div id="data-long">
                <h2>
                    <%=data.Longitude%>
                </h2>
            </div>                      

            <div class="btn">
                <form method="POST" action="/<%=data._id%>?_method=Delete">
                    <button>Delete</button>
                </form>
            </div>
        </div>
        <%}%>
</body>

</html>